Генераторы

In [0]:
a1 = [i for i in range(50-1,25-1,-2)]
print(a1)
a2 = [chr(i) for i in range(ord("А"),ord("Я")+1)]
print(a2)
a3 = [len(e) for e in input("Введите строку:").split()]
print(a3)

[49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25]
['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ы', 'Ь', 'Э', 'Ю', 'Я']
Введите строку:Генераторы
[10]

In [0]:
def recur(n):
  x = n % 10
  y = n // 10
  if y > 0:
    recur(y)
  print(x, end = " ")
recur(1234)

1 2 3 4

h/w 41

In [0]:
def recursion(max, count):
  n = int(input("Enter the number:"))
  if n != 0:
    if n > max:
      max = n
      count = 1
    elif n == max:
      count += 1
    recursion(max, count)
  else:
    print("max =", max, "and it was entered", count, "times")
  

recursion(0,0)

Enter the number:2
Enter the number:3
Enter the number:5
Enter the number:4
Enter the number:5
Enter the number:3
Enter the number:5
Enter the number:0
max = 5 and it was entered 3 times

H/w 42

In [0]:
a = [[1, 2, 4, 5], [2, 4, 3, 1], [0, 2, 6, 3]]
def print_matrix(a):
  for row in a:
    for elem in row:
      print(elem, end = " ")
    print()
print_matrix(a)
print()
max = 0
i_max = 0
min = 0
i_min = 0

for i in range(len(a)):
  for j in range(len(a[i])):
    if a[i][j] > max:
      max = a[i][j]
      i_max = j
    if a[i][j]<min:
      min = a[i][j]
      i_min = j

for i in range(len(a)):
  a[i][i_min], a[i][i_max] = a[i][i_max], a[i][i_min]

print_matrix(a)

1 2 4 5
2 4 3 1
0 2 6 3

4 2 1 5
3 4 2 1
6 2 0 3

h/w 43

In [0]:
a = [[23, 45, 67, 35, 22], [33, 69, 42, 66, 96], [24, 34, 88, 84, 22], [23, 56, 36, 74, 53]]
for row in a:
  for elem in row:
    print(elem, end = " ")
  print()
print()
count = 0
sum = 0

for row in a:
  for elem in row:
    sum += elem
    count +=1
avg = sum/count
a1 = a

for i in range(len(a1)):
  for j in range(len(a1[i])):
    if a[i][j] < avg:
      a[i][j] = 0
    else:
      a[i][j] = 255
for row in a:
  for elem in row:
    print(elem, end = " ")
  print()

23 45 67 35 22
33 69 42 66 96
24 34 88 84 22
23 56 36 74 53

0 0 255 0 0
0 255 0 255 255
0 0 255 255 0
0 255 0 255 255

h/w 44

In [0]:
n1 = int(input("Enter N1:"))
n2 = int(input("Enter N2:"))
d = {}

for i in range(n1, n2+1):
  for j in str(i):
    if j not in d:
      d[j] = 1
    else:
      d[j] += 1

for key in d:
  print(key, d[key])

Enter N1:18
Enter N2:23
1 3
8 1
9 1
2 5
0 1
3 1

h/w 45

In [0]:
t = input("Enter the text:").split()
for i in range(len(t)):
  t[i] = t[i].lower()

words = set(t)
dic = {}

for word in words:
  if word[0] not in dic:
    dic[word[0]] = word + " "
  elif word[0] in dic:
    dic[word[0]] += word + " "

for key in dic:
  print(dic[key])

Enter the text:Ехал Грека через реку видит Грека в реке рак сунул Грека руку в реку рак за руку Греку цап
реку рак реке руку
за
через
сунул
грека греку
в видит
ехал
цап