In [0]:
import sys
import os
from math import sin, cos
from pandas import *
import pickle

In [0]:
def get_numbers():
    n = input("Enter the numbers:").split()
    print(n)
    return [int(e) for e in n]

    
def print_list(l):
    for elem in l:
        print(elem, end = " ")

def avg(l):
    sum = 0
    for elem in l:
        sum += elem
    print("average = ", sum/len(l))

In [0]:
f = open("file.txt", "r+")
f.write("I want to break free")
print(f.read(6))
text = f.read()
print(text)
print(f.readlines())
f.close()
for e in open("file.txt"):
  print(e)

I want
 to break freeI want to break freeI want to break freeI want to break freeI want to break free
[]
I want to break freeI want to break freeI want to break freeI want to break freeI want to break freeI want to break free

In [0]:
f2 = open("file2.txt","w")
f2.write("City of stars Are you shining just for me ")
f2.writelines(["1", "2", "3"])
f2.close()

In [0]:
ing = open("in.txt", "w")
ing.write("0, 12, 34, 5, 4, 37, 109")
ing.close()

ing = open("in.txt", "r")
text = ing.read()
t = text.split(sep = ", ")
for i in range(len(t)):
  t[i] = int(t[i])
ing.close()

out = open("out.txt", "w")
t = sorted(t)
print(t)
s = str(t)
print(s)
out.write(s)
out.close()

[0, 4, 5, 12, 34, 37, 109]
[0, 4, 5, 12, 34, 37, 109]

h/w 45

In [0]:
def get_numbers():
    n = input("Enter the numbers:").split()
    try:
      return [int(e) for e in n]
    except:
      print("You entered not only numbers")

    
def print_list(l):
    for elem in l:
        print(elem, end = " ")



def reverse(l):
  new = [0 for i in range(len(l))]
  i = 0
  j = 1
  while i!= len(l) and j!= len(l)+1:
    new[i] = l[-j]
    i +=1
    j+=1
  return new


def inc(l):
  min = 0
  max = 0
  new = l
  i = 0
  for elem in l:
    if elem < min:
      min = elem
      new[0] = min
      
    else:
      min = elem
    if elem > max:
      max = elem
      new[-1]
  return new

l = [1, 2, 3, 4, 5]
reverse(l)
inc(l)
t = [5, 4, 6, 3, 1]
inc(t)

[1, 4, 6, 3, 1]